<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>March 17th, 2025, 4:30p-6:30p EDT</td>        <!-- time    -->
        <td>Orientation, Installing Required Packages - Nathan and Helen</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>March 24th, 2025, 4:30p-6:30p EDT</td>        <!-- time    -->
        <td>Beginning with R, Functions, Plotting with ggplot2 - Richard and Jessica</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>March 31st, 2025, 4:30p-6:30p EDT</td>        <!-- time    -->
        <td>Manipulating Data with dplyr and tidyr - Özlem and Jessica</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>April 7th, 2025, 4:30p-6:30p EDT</td>        <!-- time    -->
        <td>Writing data and using knitr - Hui and Özlem</td>        <!-- content -->
      </tr>
     
      <tr>               <!-- row 2   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
